h1 {
    text-align: center;
}
.color {
   display: inline;
   margin: 5px;
}
#cor1 {
    border: black solid 1px;
    width: 40px;
    height: 40px;
    background-color: black;
    float: left;
}
#cor2 {
    border: black solid 1px;
    width: 40px;
    height: 40px;
    background-color: palevioletred;
    display: inline-block;
}
#cor3 {
    border: black solid 1px;
    width: 40px;
    height: 40px;
    background-color: goldenrod;
    display: inline-block;
}
#cor4 { 
    border: black solid 1px;
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    display: inline-block;
}
.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: black solid 1px;
    display: inline-block;
    margin-bottom: -4px;
}
